.topselling-section {
  .swiper-wrapper {
    margin-bottom: 30px;

    .swiper-pagination.swiper-pagination-clickable {
      bottom: -5px;
      z-index: 9999999;
    }
    .swiper-pagination-bullet-active {
    }
  }
  .swiper-pagination-bullet-active {
    background: #1a5d1a;
  }
  .swiper-pagination-bullet {
    background: #226b1e;
  }
}
